body {
    margin-right: 10%;
    margin-left: 10%;
}

html,
body {
    overflow-x: hidden;
}

button {
    border-radius: 10px;
    border: none;
    background-color: rgb(239, 164, 84);
    padding: 5px 10px;
}

button:hover {
    /* 懸停時的樣式 */
    opacity: 0.8;
    cursor: pointer;
}

#container-intro {

    background-color: wheat;
    padding: 10px;
    color: black;
    font-size: 20px;
}

/* 今日營業時間*/
#openingHoursDiv p {
    display: inline;
    padding-right: 1px;

}


#categoryButtons {
    /*   display: grid; */
    /*   grid-auto-flow: column; 水平排列 */
    /*   grid-gap: 5px; 设置元素之间的间距 */
    display: flex;
    flex-wrap: wrap;
    /* 自动换行 */
    justify-content: flex-start;
    /* 左对齐 */
    align-items: flex-start;
    /* 顶部对齐 */
}

.box {
    /*     display: inline-block; */
    flex-basis: calc(100% /8);
    /*   margin-right: 5px; 元素之间的间距 */


}

@media (max-width: 767px) {
    .box {
        flex-basis: calc(100% / 6);
        /* 在较小的视窗下，每行显示6个元素 */
    }
}

#restInfo {
    border-radius: 10px;
    border: none;
    background-color: rgb(239, 164, 84);
    font-size: 30px;
    color: white;
}


.btsort {
    font-size: 20px;
    color: white;
    font-weight: 700;
}

/*按鈕*/
#top {
    position: fixed;
    top: 90%;
    margin-left: -8%;
    background-color: #f1f1f1;
}

.add {
    border-radius: 50%;
    color: white;
    background-color: rgb(249, 199, 50);
    font-weight: 900;
    font-size: 27px;
    width: 50px;
    height: 50px;
    text-align: center;
    padding: 2px;
}


/* 購物車 */
#cart {
    position: fixed;
    top: 85%;
    border-radius: 50px;
    /* display: block; */
    margin-left: 75%;
}

.closeShopping {
    background-color: #E8BC0E;
}

#cart:hover {
    /* 懸停時的樣式 */
    transform: translateY(-4px);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}


.shopping span {
    background: red;
    border-radius: 50%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    color: #fff;
    position: absolute;
    top: 83%;
    margin-left: 75%;
    padding: 3px 10px;
    position: fixed;
    width: 30px;
}

/* 右邊card */
.container2 {
    width: 100%;
    margin: auto;
    transition: 0.5s;
}

/* .list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    margin-top: 50px;
} */

/* 商品列表 */
#tableContainer {
    border-collapse: separate;
    border-spacing: 0px 10px;
}

.tableRow {
    background-color: #f2f6f7;
    box-shadow: 0 10px 20px #dde1e1;
}



.tableRow:not(.noHover):hover {
    background-color: #FDF5E6;
    transition: background-color 0.3s ease;
    transform: translateY(-4px);
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}



.soldOutBackground {
    background-color: rgb(196, 201, 201);
    box-shadow: 0 10px 20px #dde1e1;
}

.tdStatus {
    background-color: red;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    padding: 2px 5px
}

.categoryRow td span {
    background-color: black;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    padding: 7px 10px;
    font-weight: 700;

}

/*
.list .item img {
    width: 90%;
}

.list .item .title {
    font-weight: 600;
}

.list .item .price {
    margin: 10px;
}

.list .item button {
    background-color: #1C1F25;
    color: #fff;
    width: 100%;
    padding: 10px;
} */

.card {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: #6d6865;
    height: 100vh;
    transition: 0.5s;
}

.card h1 {
    color: #E8BC0E;
    font-weight: 100;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
}

/* .active {
    background-color: #6d6865;
} */

.active .card {
    left: calc(100% - 500px);
}

.active .container2 {
    transform: translateX(-200px);
}

.card .checkOut {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.card .checkOut div {
    background-color: #E8BC0E;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    color: #fff;
}

.card .checkOut div:nth-child(2) {
    background-color: #1C1F25;
    color: #fff;
}

/* card內div並排 */
.units div {
    display: inline-block;
    width: 15%;
    color: white;
    /* 根据需要调整宽度 */
}

.units button {
    display: inline-block;
    width: 40px;
    color: white;
    border-radius: 50%;
    background-color: #E8BC0E;

    /* 根据需要调整宽度 */
}

.item-info {

    width: 70%;
}

.item-info button {
    display: inline-block;
    width: 10%;
    background-color: red;
    color: white;
}