@charset "UTF-8";
/* Modal框样式 */
    body {
        background-color: #EEE;
    }

    .main-content {
        min-width: 580px;
        margin: 20px 20px 20px calc(60px + 20px);
        padding: 15px;
        transition: margin-left 0.3s ease-in-out;
        background-color: #FFF;
        border-radius: var(--main-radius);
    }
.modal, .fdmixview {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
   justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal框内容样式 */
/*  .mixmodal-content { */
/* 	background-color: #fefefe; */
/* 	margin: 10% auto; */
/* 	padding: 20px; */
/* /* 	border: 1px solid #888; */ */
/* 	width: 80%; 调窄宽度 */
/* 	max-height: 80%; 控制最大高度 */
/* 	overflow-y: auto; 允许垂直滚动 */
/* } */

/* 按钮样式 */
.modal-button {
	text-align: center;
	margin-top: 10px;
	padding: 10px 10px;
}

/* 公版 */
/* .main-content {
	min-width: 580px;
	margin: 20px 20px 20px calc(60px + 20px);
	padding: 15px;
	transition: margin-left 0.3s ease-in-out;
	background-color: #FFF;
	border-radius: var(--main-radius);
} */


.newtype {
	background-color: #fefefe;
	margin: 10% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 50%;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close {
	color: #aaa;
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 28px;
	font-weight: bold;
	cursor: pointer;
}

.close:hover, .close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

h2 {
	margin-top: 0;
}

input[type="text"], button {
	margin-bottom: 10px;
}

button {
	background-color: #4caf50;
	color: white;
	padding: 8px 12px;
	border: none;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	margin-bottom: 8px;
}


.table-product {
  border-collapse: collapse;
  width: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  font-weight: bold; 
  border-radius: 10px; /* 設置圓角半徑，可以根據需要調整數值 */
}
.text-center{
	font-size:20px;
}

.tr-title:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.table-product td,
.table-product tr {
  padding: 20px 10px;
  text-align: center;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}

   /* 標籤框線樣式 */
  .nav-tabs .nav-link {
    border: 4px solid #ccc;
    border-radius: 8px;
    padding: 10px 20px;
  }
  
  /* 選中的標籤框線樣式 */
  .nav-tabs .nav-link.active {
    border-color: #f00;
    background-color: #f00;
    color: #fff;
  }
  
/* ======================================新增產品 */
.main-content.addproduct {
	margin-left: 180px;
}

.addproduct-link {
	font-size: 1.25rem;
	font-weight: bold;
	letter-spacing: 2px;
	color: var(--main-color) !important;
}

.addproduct-text {
	width: 100%;
	font-size: 1.3em;
	margin-top: 30px;
	margin-bottom: 5px;
}

.addproduct {
	width: 60px;
	height: 60px;
	margin-left: 20px;
	font-size: 2rem;
	box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.4);
}

.addproduct-detail {
	margin: 0.5rem;
	padding: 0.5rem;
}

.addproducty-detail input {
	border: 1px solid #ccc;
	line-height: 1.8rem;
}

.addproduct-table {
	border-collapse: collapse;
	width: 100%;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.addproduct-table tr:hover {
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
}

.addproduct-table th, td {
	padding: 20px 10px;
	text-align: center;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}

.addproduct-table th {
	background-color: #f2f2f2;
}

.addproduct-table tr:nth-child(even) {
	background-color: #f9f9f9;
}

.fa-trash {
	cursor: pointer;
	color: red;
	font-size: 1.75em;
	display: flex;
	align-items: center;
	justify-content: center;
}