/.metadata/
/springprojEEIT64/src/main/resources/application.properties
!.springprojEEIT64/src/main/resources/application.properties

/springprojEEIT64/target/*
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
